/* CUSTOM STORY STYLE */

#content
    height 100%

#map
    // height 100%
    position: sticky
    top: 0
    z-index: 1

.story
    .story-step
        height 100vh
        position: relative
        z-index 2
    
    .story-text
        margin 0 auto
        max-width 50rem
        background-color: white
            