/* CUSTOM STORY STYLE */

#content
    height 100%

#map
    // height 100%
    position: sticky
    top: 0
    z-index: 1

.story
    .story-step
        height 100vh
        position: relative
        z-index 3
        // font-family: 'AdamCG'
    
    .story-step:first-of-type
        height 100vh
        .story-text
            font-size: 48px
            font-family: 'AdamCG'
            text-align: center
    
    .story-text
        margin 0 auto
        max-width 50rem
        background-color: white
        padding 1rem 0.5rem 1rem 0.5rem
        z-index 3
        border: 3px solid #333;
        // font-family: 'AdamCG'

    

    
    .story-behind
        z-index: 2
        left: -10px;
        top: 10px;
            