<div class='cover'>
    <div class='v2-cover-text'>
        <div class='title'>
            <div class='title-text'>USA</div>
        </div>
        <div class='subhed'>
            <p>A concise, <span class='highlight-subhed-top'>locals-only</span> travel guide</p>
            <p> to <span class='highlight-subhed-middle'>80,702 attractions,</span> </p>
            <p>according to <span class='highlight-subhed-bottom'>9,526,193 reviews</span></p>
            <p class='byline'>
                by <a href='https://pudding.cool/author/ilia-blinderman/'><span class='byline-author'>Ilia
                        Blinderman</span></a>
            </p>
        </div>
    </div>

    {{!-- <div class='v2-cover-img'>

        <div class='v2-img-row'>
            <img class='cover-icon' inline src='us/liberty.svg'>
            <img class='cover-icon' inline src='us/speakers.svg'>
            <img class='cover-icon' inline src='us/tophat.svg'>
            <img class='cover-icon' inline src='us/flag.svg'>
            <img class='cover-icon' inline src='us/football.svg'>
            <img class='cover-icon' inline src='us/globe.svg'>
            <img class='cover-icon' inline src='us/hotdog.svg'>
            <img class='cover-icon' inline src='us/liberty.svg'>
            <img class='cover-icon' inline src='us/speakers.svg'>
            <img class='cover-icon' inline src='us/tophat.svg'>
            <img class='cover-icon' inline src='us/flag.svg'>
            <img class='cover-icon' inline src='us/football.svg'>
            <img class='cover-icon' inline src='us/globe.svg'>
            <img class='cover-icon' inline src='us/hotdog.svg'>

        </div>
        
    </div> --}}
    {{!-- <div class='cover-text-container'>
        <div class='hed-container'>
            <p class='title hed'>A Locals-Only US Travel Guide</p>
            <p class='title subhed'>The concise guide to travelling to</p>
            <p class='title subhed'><span class='highlight-blue'>80,702
                    attractions</span> like a local,
            </p>
            <p class='title subhed'>according to <span class='highlight-red'>9,526,193 reviews</span></p>
        </div>
        <div class='byline-container'>
            <p class='byline'>
                by <a href='https://pudding.cool/author/ilia-blinderman/'><span class='byline-author'>Ilia
                        Blinderman</span></a> and <a href=''><span class='byline-author'>Harry Smith</span></a>
            </p>
        </div>
    </div> --}}
</div>
<div id='map'></div>

<div class='story'>
    {{#each doc.story}}
    <div class='story-step' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
    </div>
    {{!-- <div class='story-step-behind'>
        <p class='story-text-behind'>{{{text}}}</p>
    </div> --}}
    {{/each}}
</div>
<div class='legends-container'>
    <svg class='legend'></svg>
</div>