<div class='cover'>
    <div class='v2-cover-text'>
        <div class='title'>
            <div class='title-text'>USA</div>
        </div>
        <div class='subhed'>
            <p class='subhed__para'>A concise, <span class='highlight-subhed-top'>travel-like-a-local</span> guide</p>
            <p class='subhed__para'> to <span class='highlight-subhed-middle'>61,044 attractions,</span> </p>
            <p class='subhed__para'>according to <span class='highlight-subhed-bottom'>9,526,193 reviews</span></p>
            <p class='byline'>
                by <a href='https://pudding.cool/author/ilia-blinderman/'><span class='byline-author'>Ilia
                        Blinderman</span></a>
            </p>
        </div>
    </div>
</div>
<div id='map'>
    <div id="tourist" class="map">
        <div class='side-label--tourist'>More tourist</div>
    </div>
    <div id="local" class="map">
        <div class='side-label--local'>More local</div>
    </div>
    <div class='attraction-detail-container hidden'>
        Hover over a destination to find out its rating and total number of reviews.
    </div>
    <div class='about hidden'>
        To create this story, we gathered data on Trip Advisor reviews (a big thank you to <a
            href='http://www.ourpropeller.com/'>Harry
            Smith</a>!), and geocoded both the locations and the hometowns of reviewers throughout the USA. We then
        calculated the distance someone would have to drive in order to reach a particular destination. While
        attractions 60 miles away may not necessarily be a neighborhood haunt, I presumed that someone is likely to be
        somewhat familiar with an area within this vicinity, particularly in areas where driving is common, and be less
        likely to
        visit the typical tourist destinations.
        <div class='about-close hidden'>X</div>
    </div>
    <div class='btn--to-story'>
        <p>BACK TO STORY</p>
    </div>
    <div class='btn--about hidden'>?</div>
</div>

{{!-- TESTING GROUND --}}
<div class="map-overlay">
    <fieldset>
        <input id="feature-filter" type="text" placeholder="Filter results by name" />
    </fieldset>
    <div id="feature-listing" class="listing"></div>
</div>
{{!-- TESTING GROUND --}}

<div class='story'>
    {{#each doc.story}}
    <div class='story-step' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
    </div>
    {{/each}}
</div>