<div class='cover'>
    <div class='v2-cover-text'>
        <div class='title'>
            <div class='title-text'>USA</div>
        </div>
        <div class='subhed'>
            <p class='subhed__para'>A concise, <span class='highlight-subhed-top'>locals-only</span> travel guide</p>
            <p class='subhed__para'> to <span class='highlight-subhed-middle'>80,702 attractions,</span> </p>
            <p class='subhed__para'>according to <span class='highlight-subhed-bottom'>9,526,193 reviews</span></p>
            <p class='byline'>
                by <a href='https://pudding.cool/author/ilia-blinderman/'><span class='byline-author'>Ilia
                        Blinderman</span></a>
            </p>
        </div>
    </div>
</div>
<div id='map'>
    <div class='btn--to-story hidden'>
        BACK TO STORY
    </div>
</div>

<div class='story'>
    {{#each doc.story}}
    <div class='story-step' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
    </div>
    {{!-- <div class='story-step-behind'>
        <p class='story-text-behind'>{{{text}}}</p>
    </div> --}}
    {{/each}}
</div>
{{!-- <div class='legends-container'>
    <svg class='legend'></svg>
</div> --}}